.dev{
  border: 1px solid salmon;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}
.dev2{
  border: 1px solid salmon;
  border-radius: 10px;
  width: 400px;
  margin-top: 20px;
  padding: 20px;
}
.card2{
  display: flex;
  gap: 10px;
}
.card{
  background-color: red;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}