.bottle-card{
    padding: 10px;
    background-color: red;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 18px;
    
}
.card-img{
    width: 300px;
    border-radius: 10px;
}
.parent{
    display: flex;
    justify-content: space-between;
}
.price{
    font-weight: 800;
    font-size: 30px;
}
.add-to{
    background-color: aqua;
    border-radius: 10px;
}
.card-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cart-container{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.cart-container img{
    width: 100px;
}